<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vimeo.turnstile">

    <!-- Start Upload Service on Boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <receiver
            android:name="com.vimeo.turnstile.BootReceiver"
            android:enabled="@bool/boot_receiver_enabled">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
